.h-parent{
    display: flex;
    margin-top: 6rem;
}

.h-button{  
    width: 6rem;
    height: 2rem;
}
.blur{
    position: absolute;
    width: 17rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #edd0ff;
    filter: blur(90px);
    z-index: -9;
    top: 32%;
    right: 1%;
}