.h-parent{
    display: flex;
    margin-top: 6rem;
    padding: 0.5rem 3.5rem;
}

.h-button{  
    width: 6rem;
    height: 2rem;
}
.blur{
    position: absolute;
    width: 17rem;
    height: 10rem;
    border-radius: 50%;
    /* background-color: #edd0ff; */
    filter: blur(90px);
    z-index: -9;
    top: 32%;
    right: 1%;
}
.f-divs{
    position: relative;
}
#h-icons{
    gap: 2rem;
}
#img-fluid{
    right: -20%;
}
#glassEmoji{
    left: 0;
}
i{
    font-size: 1.8rem
}

@media(max-width:1160px){
    .h-parent{
        flex-direction: column;
        margin-top: 4rem;
    }
    #cancel-blur{
        display: none;
    }
    #img-fluid{
        right:0;
        margin:auto;
        display: block;
    }

}
@media(max-width:520px){
    #img-fluid img{
        
        width: 300px;
    }
}
@media(max-width:426px){
    .fab{
        font-size: 1rem;
    }
    #h-icons{
        gap: 1rem;
    }
    .h-parent{
        padding: 0 12px 0 12px;
    }
    .f-divs{
        position: inherit;
    }
}

@media(max-width:320px){
    #img-fluid img{
        width: 250px;

    }
}