.n-parent{
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.n-left{
    display: flex;
    flex: 1;
    gap: 2rem;
    align-items: center;

}

.n-right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list {
    flex:10;
}
.n-list ul{
    display:flex;
    gap: 2rem;
    margin-right: 4rem;
    text-decoration: none;
    list-style: none;
}
.n-list ul li:hover{
    cursor: pointer;
    color: #FCA61F;
}


/* //SOME COMMON CSS */
.button{
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);

}
.button:hover{
    background: white;
    cursor: pointer;
    color: #FCA61F;
    border: 1px solid #FCA61F;
}