.n-parent{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0px 23px;
    
}

.n-parent.sticky{
    height: 8vh;
}

.n-left{
    display: flex;
    flex: 1;
    gap: 2rem;
    align-items: center;

}

.n-right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list {
    flex:10;
}
.n-list ul{
    display:flex;
    gap: 2rem;
    margin-right: 4rem;
    text-decoration: none;
    list-style: none;
}
.n-list ul li{
    transition: 0.2s ease-in-out;
    font-size: 18px;
}
.n-list ul li:hover{
    cursor: pointer;
    color: #FCA61F;
}
.Hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #FCA61F;
}

#toggleMenu{
    display: none;
    
}

@media(min-width:1160px){
    .n-parent{
        position:fixed;
        top:0px,
    }
}



@media (max-width:1160px){
    .n-parent.sticky{
        height: 10vh;
    }
    
    .Hamburger{
        display: block;
        padding-right: 26px;

    }
    .Hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .Hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .Hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .n-list ul{
        flex-direction: column;
        gap: 0px;
    }
    .n-list{
        position: fixed;
        left: -100%;
        top: 70px;
        width: 100%;
        text-align: center;
        transition: 0.3sec;
    }
    .n-list ul li{  
        margin: 16px 0;
    }
    .n-list.active{
        left: 0;
        
    }
    .n-right{
        flex: 0;
    }
    .n-parent{
        width:60px;
    }

}

/* //SOME COMMON CSS */
.button{
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);

}
.button:hover{
    background: white;
    cursor: pointer;
    color: #FCA61F;
    border: 1px solid #FCA61F;
}
