.s-parent{
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
    /* height: 90vh; */
    margin-bottom: 13 rem;
    gap: 2rem;
    
}
.s-right{
    display:flex;
    flex-direction: row;
    justify-content:space-between
}
.motion-div{
    width: 16rem;
}

@media(max-width:1160px){
    .s-parent{
        flex-direction: column;
        margin-top: 10%;
    }
    #left-cancel{
        left:0
    }

}

@media (max-width:890px) {
    .s-parent{
        
        padding: 0 12px 0 12px;
    }
}

@media(max-width:637px){
    .s-right{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:350px){
    .motion-div{
        width: 11rem;
    }
}