.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    
}
@font-face {
    font-family: Gumela;
    src: url('./Fonts/Gumela\ Regular.otf');
  }
  *{
    font-family: 'Gumela';
    font-weight: normal;
    font-size: 20px;
  }
  body{
    margin: 0;
  }