.App{
    /* padding: 0.5rem 3.5rem; */
    overflow: hidden;
    
}
.p-heading{
  font-size: 2.5rem;
}
@font-face {
    font-family: Gumela;
    src: url('./Fonts/Gumela\ Regular.otf');
  }
  *{
    font-family: 'Gumela';
    font-weight: normal;
    font-size: 20px;
  }
  body{
    margin: 0;
  }

  @media (max-width:1160px){
    .App{
      padding: 12px;
    }
  }
  @media (max-width:340px){
    .p-heading{
        font-size: 2rem;
    }
  }